body,html {
    background: url('../image/background_body.png');
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
}
a:hover {
    text-decoration: none;
}
table {
margin-bottom:0 !important;
}
.border_radius_table {
    border-radius: 0px 0px 13px 13px;
    border: 1px solid #abafa3; margin-bottom:20px;
    overflow: hidden;
}
.style_for_task td {
    color: #999;
    font-size: 13px;
    font-weight: 600;
}
.tr_table_task td {
    color:white;
    font-size: 18px;
}
.display_none {
    display: none;
}
.tr_table_task {
    border: 1px solid #315589;
    background: url('../image/image_background.png');
}
.tr_table_add_task{
    border-left: 1px solid #b2b2a3;
    border-right: 1px solid #b2b2a3;
    background-image: -webkit-linear-gradient(top, #e1e1e1, #cccccc);
}
.color_white {
    color: white;
}
.font_size_14 {
    font-size: 14px;
}
.background_button {
    background-image: -webkit-linear-gradient(top, #94cbae, #508767);
    border: 1px solid #447557;
    height: 28px;
    width: 95px;
    vertical-align: middle;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.75);
    border-radius: 0 4px 4px 0;
}
.input_create_task {
    margin-bottom: 0;
    vertical-align: top;
    border-radius: 4px 0 0 4px;
    border: 0;
    width: 520px !important;
    height: 28px;
    font-size: 14px;
    padding: 0 10px;
}
.input_add_new_task {
    width:420px;
    margin:5px;
    height: 28px;
    border-radius: 4px 4px 4px 4px;
}
#add_todo {
    height: 46px;
    line-height: 46px;
    border: 1px solid #315589;
    background: #4e7fbc url('../image/image_background.png');
    color: #fff;
    font-size: 18px;
    padding: 0 16px;
    border-radius: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
.border_td {
    border-left: 1px solid #e7ebea;
    border-right: 1px solid #e7ebea;
}

.table-hover > tbody > tr:hover {
    background-color: #fcfed5;
}
.color_project {
    color:#b3d4fc;
}
.color_td {
    color: #999;
}
.margin_right_left {
    margin-right:20px;
    margin-left:15px;
}